In [1]:
import pandas

In [2]:
df = pandas.read_csv('./data_coba_plot/pk-a1_results.csv')

/var/folders/4_/7r1mgt0x58d2_4c2zdtwcx_40000gn/T/ipykernel_17493/2814342197.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,17,18,24,25,26,27,28,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pandas.read_csv('./data_coba_plot/pk-a1_results.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27528 entries, 0 to 27527
Data columns (total 56 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DEPTH          27528 non-null  object
 1   CARBONATE      27528 non-null  object
 2   CHECK_VOL_U    27528 non-null  object
 3   CHECK_VOL_X    27528 non-null  object
 4   COAL           27528 non-null  object
 5   CT             27528 non-null  object
 6   CT_PRED        27528 non-null  object
 7   CXO            27528 non-null  object
 8   CXO_PRED       27528 non-null  object
 9   DT             27528 non-null  object
 10  FACIES         5554 non-null   object
 11  FCOLOR_CPL     5554 non-null   object
 12  FLAG_BADHOLE   27527 non-null  float64
 13  FLAG_SALINITY  27527 non-null  float64
 14  FLCOLOR_CPL    5554 non-null   object
 15  FLUID          5554 non-null   object
 16  FLUID_CODE     27527 non-null  float64
 17  GR             27528 non-null  object
 18  GR_PRED        27528 non-null  object
 19  IQUAL          27527 non-null  float64
 20  IQUALCOLOR     5554 non-null   object
 21  LAUQI          27527 non-null  float64
 22  LITHO          5974 non-null   object
 23  LITHO_CODE     27527 non-null  float64
 24  NPHI           27528 non-null  object
 25  NPHI_PRED      27528 non-null  object
 26  ORGANIC_SHALE  27528 non-null  object
 27  PHIE           27528 non-null  object
 28  PHIT           27528 non-null  object
 29  QCOLOR_CPL     5554 non-null   object
 30  RES_NAME       5954 non-null   object
 31  RHOB           27528 non-null  object
 32  RHOB_PRED      27528 non-null  object
 33  RHOG           27528 non-null  object
 34  RT             27528 non-null  object
 35  RXO            27528 non-null  object
 36  SWE            27528 non-null  object
 37  SWE100         27528 non-null  object
 38  SWT            27528 non-null  object
 39  SWT_BND        27528 non-null  object
 40  TG             27528 non-null  object
 41  TVDSS          27528 non-null  object
 42  VOL_CALCITE    27528 non-null  object
 43  VOL_GYPSUM     27528 non-null  object
 44  VOL_ILLITE     27528 non-null  object
 45  VOL_KAOLIN     27528 non-null  object
 46  VOL_QUARTZ     27528 non-null  object
 47  VOL_UBNDWAT    27528 non-null  object
 48  VOL_UGAS       27528 non-null  object
 49  VOL_UOIL       27528 non-null  object
 50  VOL_UWAT       27528 non-null  object
 51  VOL_WETCLAY    27528 non-null  object
 52  VOL_XBNDWAT    27528 non-null  object
 53  VOL_XGAS       27528 non-null  object
 54  VOL_XOIL       27528 non-null  object
 55  VOL_XWAT       27528 non-null  object
dtypes: float64(6), object(50)
memory usage: 11.8+ MB

In [7]:
df = df.drop(df.index[0])
df['RHOB'] = df['RHOB'].astype(float)
filtered_df = df[df['RHOB'] != -999.25]
filtered_df = filtered_df[['TVDSS', 'RHOB']]

In [8]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17932 entries, 9375 to 27306
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TVDSS   17932 non-null  object
 1   RHOB    17932 non-null  float64
dtypes: float64(1), object(1)
memory usage: 420.3+ KB

In [9]:
filtered_df.to_csv('./data_coba_plot/pk-a1_results-coba.csv', index=False)